---
layout: default
---

<div class="posts">
<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
    <article class="post">
      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
      <div class="posthead">
          <!--{{ post.date | date: "%b %d, %Y" }}, -->
      <span class="post-date">
        <i class="fa fa-calendar" aria-hidden="true"></i> {{ post.date | date_to_string }} &nbsp; &nbsp; 
        <i class="fa fa-clock-o" aria-hidden="true"></i>    {% include read_time.html %} &nbsp; &nbsp; 
        <i class="fa fa-folder" aria-hidden="true"></i>  
        {% for cat in post.categories %}
        <a style="text-decoration: none; color: #a6a6a6;" href="https://typeawoman.github.io/categories/">{{ cat }}</a>
         {% endfor %}
      </span>    
      </div>
      <!--{{ post.categories | prepend: "Categories " }}-->
      <!--{% include read_time.html %}-->
      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
{% endfor %}
</div>
  
