---
layout: default
---

<div class="posts">
  {% for post in site.posts %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
      <div class="posthead">
          <!--{{ post.date | date: "%b %d, %Y" }}, -->
      <span class="post-date">
        <i class="fa fa-calendar" aria-hidden="true"></i> {{ post.date | date_to_string }} - 
        <i class="fa fa-clock-o" aria-hidden="true"></i>    {% include read_time.html %}
      </span>    
      </div>
      <!--{{ post.categories | prepend: "Categories " }}-->
      <!--{% include read_time.html %}-->
      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div>
