---
layout: default
---

<div class="posts">
<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
    <article class="post">
      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
      <div class="posthead">
          <!--{{ post.date | date: "%b %d, %Y" }}, -->
      <span class="post-date">
        <i class="fa fa-calendar" aria-hidden="true"></i> {{ post.date | date_to_string }} &nbsp; &nbsp; 
        <i class="fa fa-clock-o" aria-hidden="true"></i>    {% include read_time.html %} &nbsp; &nbsp; 
        <i class="fa fa-folder" aria-hidden="true"></i>  
        {% for cat in post.categories %}
         {{ cat }} 
         {% endfor %}
      </span>    
      </div>
      <!--{{ post.categories | prepend: "Categories " }}-->
      <!--{% include read_time.html %}-->
      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
{% endfor %}
</div>
  
<!-- Pagination links -->

{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | relative_url }}">&laquo; Prev</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ paginator.previous_page_path | relative_url }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | relative_url }}">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}


