---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="posthead">

    <span class="post-date">
        <i class="fa fa-calendar" aria-hidden="true"></i> {{ page.date | date_to_string }} &nbsp; &nbsp;  
        <i class="fa fa-clock-o" aria-hidden="true"></i> {% include read_time.html %} 
    </span>   
  </div>
  
  <div class="entry">
    {{ content }}
  </div>

  <div class="cat">
    <!--Written on {{ page.date | date: "%B %e, %Y" }}-->
  Categories: {% for cat in page.categories %}
   <a style="text-decoration: none; color: #a6a6a6;" href="https://typeawoman.github.io/categories/">  {{ cat }}</a>
         {% endfor %}
     &nbsp; &nbsp;
   Tags: {% for tags in page.tags %}
   <a style="text-decoration: none; color: #a6a6a6;" href="https://typeawoman.github.io/tags/">       #{{ tags }} </a>
         {% endfor %}
  </div>
  

  <div class="comments">
    {% include disqus.html disqus_identifier=page.disqus_identifier %}
  </div>
</article>
